node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/build [0-9]*
/build/* [0-9]*
/build/**/* [0-9]*
.vite-dev [0-9]*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
